/* Webkit scrollbar start*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;  
}

::-webkit-scrollbar-thumb:hover {
    background: #999;  
}
/* Webkit scrollbar end */



/* backdrop start */
.body-background {
    background-color: #E9F9F1;
}
/* backdrop end */



/* Header start */
.header {
    top: 0;
    position: fixed;
    height: 8vh;
    width: 100%;
    background-color: #FFFFFF;
}

.header_logo_icon {
    height: 6vh;
}

.header_logo_word {
    color: #235E0E;
}

.header_icon_notification {
    height: 3vh;
}

.header-nav {
    min-width: 40vh;
}

.profile-text-header {
    font-size: 12px;
}

#logout {
    text-decoration: none; 
}
/* header end */



/* Navbar start */
.navbar_section {
    height: 100%;
    width: 245px;
    position: fixed;
    background-image: linear-gradient(#1BAE96, #91C74A);
}
/* Navbar end */



/* Main body start */
.main_container {
    margin-top: 8vh;
    max-width: 100%;
}

.column-display-wrapper {
    height: 89vh;
}
/* Main body end */



/* InputFields start */
.search_field {
    border: none;
}

.search_field:focus{
    outline: none;
}
/* InputFields end */



/* Components start */
.search-bar-container {
    border: 1px solid rgb(135, 135, 135);
}

.scrollbar {
    overflow: hidden;
    overflow-y: auto;
    height: 79vh;
}

.schedule-record:hover {
    background-color: #f1faf5;
}

.status-wrapper {
    border-radius: 50px;
    background-color: #BDE7BD;
}
/* Components end */


/* Assets starts*/
.search-icon {
    height: 3vh;
}

.action-list-icon {
    height: 2vh;
}

.item-image-wrapper {
    min-height: 211px;
    min-width: 305px;
    background-color: #999;
}
/* Assets end */



/* Text start */
.text-sm {
    font-size: 14px;
}

.info-value {
    text-align: left;
}
/* text end */
